.footer {
  width: calc(100% - 60rem);
  margin-left: 60rem;
  background-color: #021a40;
  padding: 35rem 0 60rem;
  .copy{
    display: none;
  }
  .logo-item{
    &__link{
      max-width: 200rem;
      img{
        width: 100%;
      }
    }
    &__social{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20rem;
    }
    .copy{
      font: 400 14rem/100% $font-Founders-Grotesk-Light ;
      color: $white-100;
      display: block;
    }
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-items{
    display: flex;
    width: 100%;
    max-width: 970rem;
    justify-content: space-between;
  }
  &-item{
    &__title{
      font: 500 16rem/100% $font-Founders-Grotesk-Medium ;
      margin-bottom: 10rem;
    }
    ul{
      li{
        margin-bottom: 4rem;
      }
      li, a{
        font: 400 14rem/100% $font-Founders-Grotesk-Light ;
        color: $white-100;
      }
      a{
        &:hover{
          color: #0bf;
        }
      }
    }
  }
  &-certificate{
    display: flex;
    justify-content: space-between;
    li{
      margin-left: 10rem;
    }
    img{
      width: 100%;
      object-fit: contain;
      max-width: 50rem;
    }
  }
}
.sqs-use--icon, .sqs-use--mask{
  transition: fill 170ms ease-in-out;
}
.sqs-use--mask {
  fill: transparent;
}
.sqs-use--icon {
  fill: #fff;
}
.sqs-svg-icon--wrapper>div, .sqs-svg-icon--wrapper svg {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
}
.sqs-svg-icon--wrapper {
  margin: 0 14rem 0 0;
  width: 24rem;
  height: 24rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 170ms ease-in-out;
  -moz-transition: background-color 170ms ease-in-out;
  -ms-transition: background-color 170ms ease-in-out;
  -o-transition: background-color 170ms ease-in-out;
  transition: background-color 170ms ease-in-out;
  z-index: 0;
}