body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font: $font-body;
  color: $white-100;

  background-color: $black;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden !important;
  &.is-scroll{
    overflow: hidden;
  }
}
.page-content{
  width: calc(100% - 60rem);
  margin-left: 60rem;
  font-size: 16rem;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-Railroad-Gothic-ATF;
}
//h1 {
//  font-size: 38px;
//  line-height: 38px;
//  color: $default;
//}
//
//h2 {
//  font-size: 32px;
//  line-height: 32px;
//  color: $default;
//}
//
//h3 {
//  font-size: 18px;
//  line-height: 26px;
//  color: $default;
//}
//
//h4 {
//  font-size: 16px;
//  line-height: 28px;
//  color: $default;
//}
//
//h5 {
//  font-size: 16px;
//  line-height: 26px;
//  color: $default;
//}
//
//h6 {
//  font-size: 14px;
//  line-height: 21px;
//  color: $default;
//}

p {
}

img {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.orange{
  background-color: $orange;
  .title-section{
    color: #7A54A2;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.green{
  background-color: $green;
  .title-section{
    color: $yellow;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.light-green{
  background-color: $lightGreen;
  background-size: contain;
  .title-section{
    color: $yellow;
  }
  .text-section{
    color: $white-100;
  }
}
.dark-green{
  background-color: #1C4330;
  background-size: contain;
  .title-section{
    color: $white-100;
    margin-bottom: 55rem;
    max-width: 100%;
  }
  .subtitle-section{
    color: #99FD89;
    text-transform: uppercase;
    font: $font-h3;
    text-align: center;
  }
  .text-section{
    color: #99FD89;
  }
}
.light{
  background-color: #E0C096;
  .title-section{
    color: #2C2A2A;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.sky{
  background-color: #62A6F6;
  .title-section{
    color: #fff;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.blue{
  background-color: #00BBFF;
  .title-section{
    color: #2C2A2A;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.parallax-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  img{
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}
.parallax-top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  img{
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}
.parallax-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  img{
    width: 100%;
    object-fit: cover;
    height: 1300rem;
    object-position: top;
  }
}
.section-hero{
  &.pink{
    background-color: #E0C096;
    padding: 310rem 0 206rem;
    .title-section{
      color: rgba($yellow, .9);
    }
    .text-section{
      color: $white-100;
    }
  }
  &.padding{
    padding: 125rem 0;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 646rem;
  background-color: #E16299;
  border-radius: 10rem;
  position: relative;
  padding: 3rem 2rem;
  margin: 64rem auto 20rem;
}

.marquee-content {
  display: inline-block;
  padding-right: 100%; /* Для обеспечения бесконечного эффекта */
  animation: marquee 10s linear infinite;
  width: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.yellow{
  background-color: $yellow;
  .title-section{
    color: $red-100;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.gray{
  background-color: $gray-100;
  .title-section{
    color: #2C2A2A;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.title-section{
  font: $font-h1;
}
.text-section{
 font: $font-body;
}


.banner-image{
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  padding: 0;
  .container{
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &.orange{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $orange;
    }
  }
  &.green{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $green;
    }
  }
  &.yellow{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $yellow;
    }
  }
  &.light{
    .banner-media__title {
      color: #2C2A2A;
      background-color: #E0C096;
    }
  }
  &.light-green{
    padding: 35rem 0;
    border-bottom: 3rem solid #f0c31a;
    min-height: 1000rem;
    background-size: 1440rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    .banner-media__title {
      color: $yellow;
      background-color: transparent;
      display: flex;
      align-items: center;
    }
  }
  &.dark-green{
    .banner-media__title {
      color: #99FD89;
      background-color: #1C4330;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      z-index: 2;
      max-width: 268rem;
    }
  }
  &.gray{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $yellow;
    }
  }
  &.sky{
    .banner-media__title {
      color: #2C2A2A;
      background-color: #62A6F6;
    }
  }
  &.gradient{
    overflow: hidden;
    background: linear-gradient(to top, #7A54A2 0%, #E72B7C 90%);
    .banner-media__title {
      color: #2C2A2A;
      background-color: #A6E7FF;
    }
    .banner-desc{
      color: $white-100;
      margin: 0 auto;
      max-width: 870rem;
      font: $font-h2;
    }
  }
  &.blue{
    padding: 35rem 0;
    min-height: 1000rem;
    background-size: 1440rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    .banner-media__title {
      color: $yellow;
      background-color: transparent;
      display: flex;
      align-items: center;
    }
  }
}
$wave-color: #FF5AA1;

.wave-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  &.wave-right{
    top: 320rem;
    left: auto;
    right: -370rem;
    .wave {
      position: absolute;
      top: 0;
      right: 0;
      width: 114rem;
      height: 114rem;
      margin-top: 0;
      margin-left: 0;
      animation: waveRight 6s infinite;
      &:nth-child(2) {
        animation: waveRight 2s infinite;
      }
      &:nth-child(3) {
        animation: waveRight 4s infinite;
      }
    }
  }
}
.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 869rem;
  height: 869rem;
  margin-top: -435.5rem;
  margin-left: -435.5rem;
  border: 1px solid $wave-color;
  border-radius: 50%;
  opacity: 0;
  animation: wave 6s infinite;

  &:nth-child(2) {
    animation-delay: 2s;
  }
  &:nth-child(3) {
    animation-delay: 4s;
  }
}

@keyframes wave {
  0% {
    width: 869rem;
    height: 869rem;
    margin-top: -435.5rem;
    margin-left: -435.5rem;
    opacity: 0.6;
  }
  100% {
    width: 1600rem;
    height: 1600rem;
    margin-top: -800rem;
    margin-left: -800rem;
    opacity: 0;
  }
}
@keyframes waveRight {
  0% {
    width: 114rem;
    height: 114rem;
    margin-top: 50rem;
    margin-left: 50rem;
    opacity: 0.6;
  }
  100% {
    width: 444rem;
    height: 444rem;
    margin-top: 200rem;
    margin-left: 200rem;
    opacity: 0;
  }
}
.banner-desc{
  margin: 50rem 0 25rem;
  font: $font-h2;
  color: #2C2A2A;
  text-align: center;
}
.banner-media{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__image{
    width: 100%;
    height: 100%;
    max-width: 526rem;
    max-height: 423rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    font: $font-h2SansSerif;
  }
}
.section-hero{
  padding: 125rem 0 0 0;
  .title-section{
    max-width: 1190rem;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  .text-section{
    margin: 0 auto 0;
    max-width: 648rem;
  }
  &__media{
    margin: -40rem auto 15rem;
    z-index: 1;
    position: relative;
    text-align: center;
    span{
      display: inline-block;
      &:nth-of-type(1){
        position: relative;
        z-index: 2;
      }
      &:nth-of-type(2){
        position: absolute;
        left: 200rem;
        right: auto;
        margin: 0;
        bottom: 25rem;
      }
      &:nth-of-type(3){
        position: absolute;
        left: auto;
        right: 250rem;
        margin: 0;
        top: 25rem;
      }
    }
  }
}
.section-hero-left{
  padding: 125rem 0 0;
  &.padding{
    padding: 125rem 0;
  }
  .section-wrap{
    display: flex;
    align-items: center;
    &.reverse{
      flex-direction: row-reverse;
    }
  }
  .title-section{
    max-width: 85%;
  }
  .text-section{
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 424rem;
    margin: 0 auto;
  }
  .subtitle-section{
    max-width: 570rem;
    text-align: center;
  }
  &.dark-green{
    .title-section{
      max-width: 100%;
    }
  }
  .text-section-info {
    font: 400 24rem/90% $font-Signifier-Regular-Italic;
    color: #99FD89;
    text-decoration: underline;
    text-align: center;
  }
}
.section-hero-text{
  padding: 125rem 0;
  .text-section{
    max-width: 760rem;
  }
}
.section-hero-banner{
  padding: 125rem 0 0;
  img, picture{
    width: 100%;
  }
}
.section-hero-full{
  .section-full-wrap{
    margin: 0 -60rem;
    img, picture{
      width: 100%;
      object-fit: cover;
    }
  }
  .text-section{
    max-width: 424rem;
    margin: 0 170rem 0 auto;
  }
}
.hero-banner-titles{
  width: 100%;
  max-width: 770rem;
  margin: 100rem auto 48rem;
  span{
    display: inline-block;
    color: $white-100;
    background-color: $black-100;
    &:nth-of-type(1){
      margin-left: 120rem;
      font:  400 125rem / 90% $font-Railroad-Gothic-ATF;
    }
    &:nth-of-type(2){
      margin-left: 255rem;
      font:  500 150rem / 100% $font-Founders-Grotesk-Medium;
    }
    &:nth-of-type(3){
      font:  400 150rem / 100% $font-Signifier-Regular;
    }
  }
}
.hero-banner-desc{
  color: $white-100;
  font:  400 50rem / 100% $font-Signifier-Regular;
}
.hero-banner-link{
  text-align: center;
  a{
    display: inline-block;
    color: $white-100;
    background-color: $black-100;
    font:  500 50rem / 100% $font-Founders-Grotesk-Medium;
    text-decoration: underline;
  }
}
.parallax-section-test {
  position: relative;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden; /* Додаємо, щоб зображення не виходили за межі секції */
}

.text {
  font-size: 5em;
  text-align: center;
  margin: 100px 0;
  position: relative;
  z-index: 1;
}

.parallax-sectionimage {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.7;
  transition: top 0.3s ease-out;
}

.parallax-sectionimage1 {
  top: 100%;
}

.parallax-sectionimage2 {
  top: 150%;
}

.drop-inner{
  width: 71px;
  height: 71px;
  overflow: hidden;
  border: 3rem solid $black-100;
  border-top: 0;
}
.drop-container {
  position: relative;
  width: 100px;
  height: 400px; /* Висота контейнера */
  overflow: hidden;
  top: -130px;
  left: -10px;
}

.drop-wrap {
  display: flex;
  flex-direction: column;
  animation: move 4s linear infinite;
}

.drop {
  width: 100%;
  height: auto;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

.drop-whale{
  width: 71px;
  height: 71px;
  overflow: hidden;
  border: 3rem solid $black-100;
}
.drop-container-whale {
  position: relative;
  width: 145px;
  height: 70px;
  overflow: hidden;
  left: -70px;
  top: -1px;
}

.drop-wrap-whale {
  display: flex;
  column-gap: 5px;
  animation: moveWhale 4s linear infinite;
}


@keyframes moveWhale {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
.item-block{
  position: relative;
  .banner-media__title{
    position: sticky;
    top: 0;
  }
  &.orange{}
}