body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font: $font-body;
  color: $white-100;

  background-color: $black;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  &.is-scroll{
    overflow: hidden;
  }
}
.page-content{
  width: calc(100% - 60rem);
  margin-left: 60rem;
  font-size: 16rem;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-Railroad-Gothic-ATF;
}
//h1 {
//  font-size: 38px;
//  line-height: 38px;
//  color: $default;
//}
//
//h2 {
//  font-size: 32px;
//  line-height: 32px;
//  color: $default;
//}
//
//h3 {
//  font-size: 18px;
//  line-height: 26px;
//  color: $default;
//}
//
//h4 {
//  font-size: 16px;
//  line-height: 28px;
//  color: $default;
//}
//
//h5 {
//  font-size: 16px;
//  line-height: 26px;
//  color: $default;
//}
//
//h6 {
//  font-size: 14px;
//  line-height: 21px;
//  color: $default;
//}

p {
}

img {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.orange{
  background-color: $orange;
  .title-section{
    color: #7A54A2;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.green{
  background-color: $green;
  .title-section{
    color: $yellow;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.light{
  background-color: #E0C096;
  .title-section{
    color: #2C2A2A;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.parallax-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  img{
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}
.section-hero-list{
  padding: 125px 0 0 0;
  .title-section{
    text-align: center;
  }
  .list-wrap{
    max-width: 646rem;
    margin: 0 auto;
  }

}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #E16299;
  border-radius: 10rem;
  position: relative;
}

.marquee-content {
  display: inline-block;
  padding-right: 100%; /* Для обеспечения бесконечного эффекта */
  animation: marquee 10s linear infinite;
  width: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.yellow{
  background-color: $yellow;
  .title-section{
    color: $red-100;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.gray{
  background-color: $gray-100;
  .title-section{
    color: #2C2A2A;
  }
  .text-section{
    color: #2C2A2A;
  }
}
.title-section{
  font: $font-h1;
}
.text-section{
 font: $font-body;
}


.banner-image{
  background-size: cover;
  background-position: top center;
  height: 100vh;
  padding: 0;
  .container{
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &.orange{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $orange;
    }
  }
  &.green{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $green;
    }
  }
  &.yellow{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $yellow;
    }
  }
  &.light{
    .banner-media__title {
      color: #2C2A2A;
      background-color: #E0C096;
    }
  }
  &.gray{
    .banner-media__title {
      color: #2C2A2A;
      background-color: $yellow;
    }
  }
  &.gradient{
    overflow: hidden;
    background: linear-gradient(to top, #7A54A2 0%, #E72B7C 90%);
    .banner-media__title {
      color: #2C2A2A;
      background-color: #A6E7FF;
    }
    .banner-desc{
      color: $white-100;
      margin: 0 auto;
      max-width: 870rem;
      font: $font-h2;
    }
  }
}
$wave-color: #FF5AA1;

.wave-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 869rem;
  height: 869rem;
  margin-top: -435.5rem;
  margin-left: -435.5rem;
  border: 1px solid $wave-color;
  border-radius: 50%;
  opacity: 0;
  animation: wave 6s infinite;
  &:nth-child(2) {
    animation-delay: 2s;
  }
  &:nth-child(3) {
    animation-delay: 4s;
  }
}

@keyframes wave {
  0% {
    width: 869rem;
    height: 869rem;
    margin-top: -435.5rem;
    margin-left: -435.5rem;
    opacity: 0.6;
  }
  100% {
    width: 1600rem;
    height: 1600rem;
    margin-top: -800rem;
    margin-left: -800rem;
    opacity: 0;
  }
}
.banner-desc{
  margin: 50rem 0 25rem;
  font: $font-h2;
  color: #2C2A2A;
  text-align: center;
}
.banner-media{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title{
    font: $font-h2SansSerif;
  }
}
.section-hero{
  padding: 125rem 0 0 0;
  .title-section{
    max-width: 1190rem;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  .text-section{
    margin: 0 auto 0;
    max-width: 648rem;

  }
  &__media{
    margin: -40rem auto 15rem;
    z-index: 1;
    position: relative;
    text-align: center;
    span{
      display: inline-block;
      &:nth-of-type(1){
        position: relative;
        z-index: 2;
      }
      &:nth-of-type(2){
        position: absolute;
        left: 150rem;
        right: auto;
        margin: 0;
        bottom: 25rem;
      }
      &:nth-of-type(3){
        position: absolute;
        left: auto;
        right: 250rem;
        margin: 0;
        top: 25rem;
      }
    }
  }
}
.section-hero-left{
  padding: 125rem 0 0;
  &.padding{
    padding: 125rem 0;
  }
  .section-wrap{
    display: flex;
    align-items: center;
  }
  .title-section{
    max-width: 85%;
  }
  .text-section{
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 424rem;
    margin: 0 auto;
  }
  .media-section{}
}
.section-hero-banner{
  padding: 125rem 0 0;
  img, picture{
    width: 100%;
  }
}