// font
$font-Signifier-Regular-Italic: 'Signifier-Regular-Italic';
$font-Signifier-Regular: 'Signifier-Regular';
$font-Signifier-Medium: 'Signifier-Medium';
$font-Signifier-Medium: 'Signifier-Medium';
$font-Railroad-Gothic-ATF: 'Railroad-Gothic-ATF';
$font-Founders-Grotesk-Medium: 'Founders-Grotesk-Medium';
$font-Founders-Grotesk-Light: 'Founders-Grotesk-Light';
$font-Founders-Grotesk-Italic: 'Founders-Grotesk-Italic';

$font-xl-title: 400 284rem / 90% $font-Railroad-Gothic-ATF;
$font-h1: 400 155rem / 90% $font-Railroad-Gothic-ATF;
$font-h2: 300 50rem / 100% $font-Signifier-Regular;
$font-h2SansSerif: 500 50rem / 100% $font-Founders-Grotesk-Medium;
$font-h3: 400 50rem / 90% $font-Railroad-Gothic-ATF;
$font-body: 400 18rem / 110% $font-Signifier-Regular;
$font-Captions: 300 18rem / 100% $font-Founders-Grotesk-Light;

$font-Disclaimer: 400 16rem / 100% $font-Founders-Grotesk-Light;
$font-NavElementsSansSerif: 400 24rem / 100% $font-Founders-Grotesk-Medium;
$font-NavElementsSerif: 400 24rem / 100% $font-Signifier-Regular;
$font-NavMenuItems: 400 75rem / 90% $font-Railroad-Gothic-ATF;
$font-NavMenuItemsSectionalTitles: 400 24rem / 90% $font-Signifier-Regular;
//$font-64-bold: 700 64rem / 84rem $font-family-primary;
//$font-64-bold-m: 700 32rem / 42rem $font-family-primary;
//$font-64-regular: 400 64rem / 84rem $font-family-primary;
//$font-64-regular-m: 400 32rem / 42rem $font-family-primary;
//$font-64-bold-m: 700 32rem / 42rem $font-family-primary;
//
//$font-bold-s: 400 24rem / 31rem $font-family-primary;
//$font-s-regular: 400 20rem / 24rem $font-family-primary;
//$font-main-regular: 400 24rem / 31rem $font-family-primary;
//$font-main-regular-m: 400 15rem / 20rem $font-family-primary;
//$font-main-bold: 700 24rem / 31rem $font-family-primary;
//$font-main-bold-m: 700 16rem / 21rem $font-family-primary;
//$font-main-regular-m: 400 16rem / 21rem $font-family-primary;
// general

$white: #ffffff;
$white-100: #F9F8F8;
$black: #000000;
$black-100: #2C2A2A;



// main

$primary: #E6012C;
$secondary: #026A80;
$default: #0A0A0A;
$green: #54B848;
$light: #F8F8F8;
$red: #DE3F53;
$red-100: #E72B7C;
$orange: #F78F20;
$yellow: #F0C31A;
$gray-100: #E9EAE5;
$lightGreen: #54B848;

// info

$danger: #f00;
$success: #00b911;
$info: #26badf;
$warning: #fbf8db;

// shades



// mixins

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $fromColor;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}

